.App {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #ff0066;
}

.App-header {
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.App-emoji {
  max-height: 40px;
}

.App-emoji-span {
  vertical-align: middle;
}
