.App {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #ff0066;
}

.App-button {
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  border-color: white;
  border-radius: 10px;
  font-size: 25px;
  background-color: #f33b69;
}

.App-button:hover {
  color: white;
  border-color: white;
  background-color: #bb2a4e;
}

.App-button:active {
  color: white !important;
  border-color: white !important;
  background-color: #9e203f !important;  
}

.App-button:visited {
  color: white !important;
  border-color: white !important;
  background-color: #bb2a4e !important;    
}

.App-photo {
  margin: 5px;
  height: 300px;
  border: solid 1px black;
}
